
.drop {
  color: #fff;

  /* padding: -10px; */
  font-size: 16px;
  border: none;
  font-weight: 200;
}
.dropdown {
  position: relative;
  display: inline-block;
   

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  margin-left: 120px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.wrapper{
  color: #fff;

  z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;

    /* z-index: 150; */
    background-color: #d3020e;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.drop{
  margin-top: 50px;
  margin-left:120px;
  font-weight: 200;
  cursor: pointer;

}
.drop :hover{
  color:black !important;
}
.register{
   margin-right: 10%; 
  font-weight: 200;
  cursor: pointer;

}
.register:hover{
  color:black !important
}
.login{
  margin-left: 60%;
  font-weight: 200;
  cursor: pointer;

}
.login:hover{
  color:black !important
}

.header-text.max-w884 {
  width: 100%;
  max-width: 884px;
  margin-left: auto;
  margin-right: auto;
}

.cta-top__r.bg-red {
  max-width: 493px;
  min-height: 564px;
  color: #fff;
  background-color: #2f53ba;
  border-radius: 40px;
  padding: 40px;
  position: relative;
}

.header-text {
  color: #fff;
  text-align: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 74px;
  width: 1000px !important;
}
 .clients-segment{
  text-align: center;
 }

 .solutions-segment{
  text-align: center;
 }

 .wrapper-flex.margin-t100 {
  margin-top: 63px;
  padding-top: 1px;
} 

 .wrapper-flex {
  justify-content: space-between;
  align-items: center;
  margin-top: -83px;
  display: flex;
}

.heading-m{
  color:#d3020e !important;
  margin-left: 100px;
  font-size: 40px;
  
}

.audience-list {
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  display: grid;
}

.button-wrapper.margin-t40 {
  margin-top: 40px;
}
.button-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}
.button-red {
  color: #d3020e;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #d3020e;
  border-radius: 1000px;
  padding: 18px 35px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  transition: background-color .2s, border-color .2s, color .2s;
  cursor: pointer;
}
.button-red:hover{
  background-color: black !important;
  color: white !important
}

.nav-wrapper {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

.cta-top.new-home {
  background-color: #fff;
  margin-top: 57px;
  box-shadow: 0 3px 30px -20px #000;
}
.cta-top {
  z-index: 2;
  grid-column-gap: 50px;
  grid-row-gap: 16px;
  background-color: #fcf9f4;
  border-radius: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: grid;
  position: relative;
}

.stats-wrapper {
  width: 100%;
  max-width: 518px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr; 
  grid-auto-columns: 1fr;
  padding-top: 50px;
  display: grid;
}

.paragraph-1{
  margin-left: 100px;
  line-height: 1.6;


}

.column {
  float: left;
  width: 50%;
  /* text-align: center; */
}
.row{
  margin-left: 210px;
  cursor: pointer;

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.dealership:hover{
  color:red !important

}

.enterprise:hover{
  color:red !important
}

.automotive:hover{
  color:red !important

}

.b2bDealers:hover{
  color:red !important

}

.singleLocation:hover{
  color:red !important

}

.multiLocation:hover{
  color:red !important

}

.wrapper-flex.margin-t100 {
  margin-top: 63px;
  padding-top: 1px;
}

.wrapper-flex {
  justify-content: space-between;
  align-items: center;
  margin-top: -83px;
  display: flex;
}

.heading-m text-red{
  margin-right: 50px !important;

}
.heading-g{
  margin-left: 100px;
  font-size: 40px;
  }

.learnMore{
  font-size: 14px;
}

.wrapper-flex {
  justify-content: space-between;
  align-items: center;
  margin-top: -83px;
  display: flex;
}
.flex-l.mw-412 {
  width: 100%;
  max-width: 412px;
}
.flex-r {
  width: 50%;
  text-align: right;
}




.container-1 {
  display: flex;
}

.paragraph-1 {
  flex: 1;
  margin-right: 10px; /* Adjust the spacing between paragraphs if desired */
}

.paragraph-1:last-child {
  margin-right: 0; /* Remove right margin from the last paragraph */
}

.detail{
  border: 1px solid #a7a4a4;
  padding: 10px;
  border-radius: 25px;
  height: 200px;
}

.section.demo {
  background-color: #d3020e;
  padding-top: 100px;
  padding-bottom: 94px;
  margin-left: -8px;
  margin-right: -8px;
}

.section {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.container {
   width: 100%; 
  margin-top: -10px;
  background-color: #d3020e !important;
  padding-right: 16px;
  margin-left: -8px;
}


.demo-wrapper {
  justify-content: space-between;
  display: flex;
}

.demo-r {
  width: 50%;
}

.button1{
  background-color: black;
  color: white;
  cursor: pointer;
  width:30%;
  height: 18%;
  border-radius: 30px;
}

.button1:hover{
  color:black;
  background-color: white;
}

.button4{
  background-color: black;
  color: white;
  cursor: pointer;
  width:180px;
  height: 55px;
  border-radius: 30px;
  margin-right: 61%;
}
.button6{
  width:185px;
  height: 52px;
  border-radius: 30px;
  background-color: #d3020e;
  color: white;
  cursor: pointer;
}
.button6:hover{
  background-color: black;
}
.button7{
  width:155px;
  height: 50px;
  border-radius: 15px;
  background-color: #d3020e;
  color: white;
  cursor: pointer;
}
.button7:hover{
  background-color: black;
}

.button4:hover{
  color:black !important;
  background-color: white !important;
}


.flex-l.mw-412 {
  width: 100%;
  max-width: 30% ;
}
.flex-r {
  width: 50%;
  text-align: right;
}
.benefits{
  margin-left: 12%;
}
.description{
  margin-left: 12%;
}




.ticker{
  display: flex
}

.ticker__list{
  display :flex;
  margin-top: 20px;
 
  
}

  .ticker:hover &
    animation-play-state paused
  
.ticker__item{
  margin-right: 20px;
}
  
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .drop,
  .login,
  .register {
    margin: 5px;
  }

  .header-text {
    width: 100%;
    margin: 20px;
  }

  .stats-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .row {
    margin-left: 10px;
  }
}

.benefitsSection{
  color: #d3020e
}

.section.partner {
  background-color: #fcf9f4;
  padding-top: 140px;
  padding-bottom: 116px;
}

.container2 {
  width: 100%;
  max-width: 1170px;
  margin-top: -48px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.partner-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.partner-r {
  width: 55%;
  text-align: right;
}
.text-red {
  color: #d3020e;
  font-size: 50px;
}


.buttonPartner{
  cursor: pointer;
  width:160px;
  height: 55px ;
  margin-right: 23px;
  border-radius: 30px;
}

.buttonPartner:hover{
  background-color: #d3020e !important;
}

.seePartner{
  width: 160px;
  height: 55px ;
  background-color: white;
  color:black; 
  cursor:pointer;
  border-radius: 30px;

}

.seePartner:hover{
 background-color: #d3020e !important;
 color: white !important;
}

.partner-red{
  color: #d3020e
}

.section.about {
  background-color: #d3020e;
  margin-top: -16px;
  padding-top: 56px;
  overflow: visible;
}

.container3 {
  width: 100%;
  max-width: 1170px;
  margin-top: -48px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.about__wrapper {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  display: flex;
}
.about-r {
  width: 56%;
  text-align: right;
}
.section.footer {
  background-color: #fff;
  margin-top: 0;
  padding-top: 90px;
  padding-bottom: 80px;
}
.container5 {
  width: 100%;
  max-width: 1170px;
  margin-top: -48px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
.footer-form {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-block {
  margin-top: 40px;
  margin-bottom: 0;
}
.form-block {
  text-align: left;
}
.w-form {
  margin: 0 0 15px;
}
.w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}
.w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}
.copyright {
  color: #57504e;
  margin-top: 69px;
  margin-right: -159px;
  padding-left: 0;
  padding-right: 13px;
  font-size: 13px;
  line-height: 16px;
}
.footer-r.is-changed {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-left: 175px;
}
.footer-r {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.footer-products {
  margin-right: 0;
}
.footer-integration, .footer-managment {
  margin-right: 0;
}
.footer-card.margin {
  width: 100%;
  max-width: 187px;
  margin-left: 0;
}

.email-input{
  height: 40px;
  border-radius: 10px;
  width: 200px;
}